<ion-content>   
  <div id="container" >
    <div class="header">
      <ion-back-button (click)="back()"></ion-back-button>
      <ion-title>Editar perfil</ion-title>
    </div> 
    <form (ngSubmit)="updateConfirmation()" ngNativeValidate>
      <div class="formulario" *ngIf="type()=='client'">
        <div class="campo">
          <label>NOMBRE(S)</label>
          <input type="text" id="nombre" name="name" [(ngModel)]="name" required>
        </div>
        <div class="campo">
          <label>NOMBRE USUARIO</label>
          <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="campo">
          <label>APELLIDO PATERNO</label>
          <input type="text" id="pLastname" name="pLastname" [(ngModel)]="firstLastname" required>
        </div>
        <div class="campo">
          <label>APELLIDO MATERNO</label>
          <input type="text" id="mLastname" name="mLastname" [(ngModel)]="secondLastname" required>
        </div>
        <button id="botonRegistro" type="submit" >CONFIRMAR</button>
      </div>

      <div class="formulario" *ngIf="type()=='restaurant'">
        <div class="campo">
          <label>NOMBRE(S)</label>
          <input type="text" id="nombre" name="name" [(ngModel)]="name" required>
        </div>
        <div class="campo">
          <label>NOMBRE LOCAL</label>
          <input type="text" id="resname" name="resname" [(ngModel)]="resname"required>
        </div>
        <div class="campo">
          <label>UBICACION</label>
          <button id="botonUbicacion">SELECCIONAR</button> 
        </div>
        <button id="botonRegistro" type="submit" >CONFIRMAR</button>
      </div>

    </form>
  </div>
</ion-content>