<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div id="container">
    <div id="logo">
        <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <div id="botones">
        <button id="botonInvitado"  routerLink="/home">Invitado</button>
        <button id="botonLogin" routerLink="/login">Iniciar Sesion</button>
        <button id="botonRegistro" routerLink="/register-client">Registrarse Cliente</button>
        <button id="botonRegistro" routerLink="/register-res">Registrarse Restaurante</button>
    </div>
  </div>
</ion-content>
