<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div id="container">
    <div id="logo">
        <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <div id="botones">
        <ion-button id="botonInvitado" []="">Invitado</ion-button>
        <ion-button id="botonLogin">Iniciar Sesion</ion-button>
        <ion-button id="botonRegistro">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
