<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <div id="logo"> 
      <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <form [formGroup]="credentials" (ngSubmit)="login()">
      <div class="formulario">
        <div class="campo">
          <label>CORREO</label>
          <input type="text" id="correo" formControlName="email" required>
        </div>
        <div class="campo">
          <label>CONTRASEÑA</label>
          <input type="password" class="password" id="password" formControlName="password" required>
        </div>
        <button id="botonIngresar" type="submit" >INGRESAR</button>
      </div>
    </form>  
    <hr>Ó<hr>
    <button id="botonFacebook" type="button" (click)="googleLogin()">ENTRAR CON FACEBOOK</button>
    <button id="botonGoogle" type="button" (click)="facebookLogin()">ENTRAR CON GOOGLE</button>
  </div>
</ion-content>
