<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <div id="logo">
      <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <form (ngSubmit)="register()">
      <div class="formulario">
        <div class="campo">
          <label>CORREO</label>
          <input >
        </div>
        <div class="campo">
          <label>CONTRASEÑA</label>
          <input >
        </div>
        <button id="botonIngresar" type="submit" >INGRESAR</button>
      </div>
    </form>
    <hr>Ó<hr>
    <button id="botonFacebook" type="button" (click)="facebookRegister()">ENTRAR CON FACEBOOK</button>
    <button id="botonGoogle" type="button" (click)="googleRegister()">ENTRAR CON GOOGLE</button>
  </div>
</ion-content>
