<ion-header>
  <ion-toolbar>
    <ion-title>Modificar informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
   
  <div id="container">
    <div id="logo">
      <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <form ngNativeValidate>
      <div class="formulario">
        <div class="campo">
          <ion-button id="btnEligeFoto" (click)="choosePhoto()" color="warning" fill="solid" shape="round" expand="full" type="submit" class="ion-float-right"><ion-icon name="images-outline"></ion-icon>Editar Fotografia</ion-button>
        </div>
        <div class="campo">
          <label>Nombre del restaurant</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
        <div class="campo">
          <label>Tipo de alimentos</label>
          <input type="text" id="edad" name="edad"  required>
        </div>
        <div class="campo">
          <label>Ubucacion</label>
          <input type="text" id="estado" name="estado"  required>
        </div>
        <div class="campo">
          <label>Horario</label>
          <input type="text" id="ciudad" name="ciudad"  required>
        </div>
        <div class="campo">
          <ion-select placeholder="Consumo en local" id="positive" name="positive" required>
            <ion-select-option [value]="true">Si</ion-select-option>
            <ion-select-option [value]="false">No</ion-select-option>
          </ion-select>
        </div>
        <button id="botonConfirmar" type="submit" (click)="confirmar()">CONFIRMAR CAMBIOS</button> 
      </div>
    </form>
  </div>
</ion-content>