<ion-header>
  <ion-toolbar>
    <ion-title>Modificar informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <div id="logo">
      <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <form>
      <div class="campo">
        <ion-button id="btnEligeFoto" (click)="choosePhoto()" color="warning" fill="solid" shape="round" expand="full" type="submit" class="ion-float-right"><ion-icon name="images-outline"></ion-icon>Editar Fotografia</ion-button>
      </div>
      <div class="formulario">
        <div class="campo">
          <label>Nombre</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
        <div class="campo">
          <label>Tipo de alimentos</label>
          <input type="number" id="edad" name="edad"  required>
        </div>
        <div class="campo">
          <label>Estado</label>
          <input type="number" id="estado" name="estado"  required>
        </div>
        <div class="campo">
          <label>Ciudad</label>
          <input type="number" id="ciudad" name="ciudad"  required>
        </div>
        <button id="botonConfirmar" type="submit">CONFIRMAR CAMBIOS</button>
      </div>
    </form>
  </div>
</ion-content>