<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <div id="logo">
      <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <form [formGroup]="credentials" (ngSubmit)="confirmData()">
      <div class="formulario">
        <div class="campo">
          <label>NOMBRE(S)</label>
          <input type="text" id="nombre" name="name">
        </div>
        <div class="campo">
          <label>NOMBRE USUARIO</label>
          <input type="text" id="username" name="username">
        </div>
        <div class="campo">
          <label>APELLIDO PATERNO</label>
          <input type="text" id="aPaterno" name="aPaterno">
        </div>
        <div class="campo">
          <label>APELLIDO MATERNO</label>
          <input type="text" id="aMaterno" name="aMaterno">
        </div>
        <button id="botonRegistro" type="submit">REGISTRARSE</button>
      </div>
    </form>
  </div>
</ion-content>