<ion-header>
  <ion-toolbar>
    <ion-title>

    </ion-title>
    <ion-buttons>
      <ion-back-button>Volver atrás</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <div class="row">
      <div class="column">
        <ion-card-title>{{post.title}}</ion-card-title>
        <ion-card-subtitle>{{post.text}} </ion-card-subtitle>
      </div>
      <div class="dropdown"  *ngIf="post.author==auth.currentUser.uid" >
        <ion-icon class="options" name="ellipsis-vertical-outline" class="dropbtn"></ion-icon>
        <div class="dropdown-content">
          <a (click)="deleteConfirmation(post)">Eliminar</a>
          <a >Editar</a>
        </div>
      </div>   
    </div>
    </ion-card-header>
  
    <ion-card-content>
      <ion-col>
        <ion-slides pager="true" loop="true">
          <ng-container *ngFor="let item of post.images;">
            <ion-slide >
              <img src="{{item}}">
            </ion-slide>
          </ng-container>
        </ion-slides>
    </ion-col>

    </ion-card-content>
  </ion-card>
</ion-content>
