<ion-header>
  <ion-toolbar>
    <ion-title>

        <!-- {{post.title}} -->

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle>WIP</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-col>

      </ion-col>
      <ion-button class="ion-margin-bottom ion-float-right"><ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>Comentarios</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
