<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>Volver atrás</ion-back-button>
    </ion-buttons> 
    <ion-title>Editar publicación</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <div id="logo">
      <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <form>
      <div class="formulario">
        <div class="campo">
          <label>TÍTULO</label>
          <input type="text" id="title" name="title" [(ngModel)]="title" value="{{post.title}}">
        </div>
        <div class="campo">
          <label>RESEÑA</label>
          <input type="text" id="text" name="text" [(ngModel)]="text" value="{{post.text}}"> 
        </div>
        <div class="campo">
          <ion-select placeholder="Seleccionar" id="positive" name="positive" [(ngModel)]="positive" >
            <ion-select-option [value]="true" >Positiva</ion-select-option>
            <ion-select-option [value]="false">Negativa</ion-select-option>
          </ion-select>
        </div>
        <div class="campo">
          <ion-slides pager="true" loop="true">
            <ng-container *ngFor="let item of post.images;">
              <ion-slide >
                <img src="{{item}}">
              </ion-slide>
            </ng-container>
          </ion-slides>
            <ion-button id="btnEligeFoto" (click)="choosePhoto()" color="warning" fill="solid" shape="round" expand="full" type="submit" class="ion-float-right"><ion-icon name="images-outline"></ion-icon>Elegir foto</ion-button>
        </div>
        <button id="botonRegistro" type="submit" (click)="addPost()">Editar</button>
      </div>
    </form>
  </div>
</ion-content>
