<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <div class="header">
      <ion-back-button ></ion-back-button>
      <ion-title>Editar Publicación</ion-title>
    </div>
    <div id="logo">
      <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <form (ngSubmit)="addPost()" ngNativeValidate>
      <div class="formulario">
        <div class="campo">
          <label>TÍTULO</label>
          <input type="text" id="title" name="title" [(ngModel)]="title" value="{{post.title}}" required>
        </div>
        <div class="campo">
          <label>RESEÑA</label>
          <input type="text" id="text" name="text" [(ngModel)]="text" value="{{post.text}}" required> 
        </div>
        <ng-container *ngIf="post.type=='post'">
          <div class="campo">
            <select id="positive" name="positive" [(ngModel)]="positive" required>
              <option [ngValue]="true">Positiva</option>
              <option [ngValue]="false">Negativa</option>
            </select>

            <br><br>
          </div>
        </ng-container>
        <div class="campo">
          <ion-slides class="img-slide" pager="true" loop="true">
            <ng-container *ngFor="let item of post.images;">
              <ion-slide >
                <img height="200" width="200" src="{{item}}">
              </ion-slide>
            </ng-container>
          </ion-slides>
        </div>
        <form>
          <div class="campo">
            <ion-button id="btnEligeFoto" (click)="choosePhoto()" color="warning" fill="solid" shape="round" expand="full" type="submit" class="ion-float-right"><ion-icon name="images-outline"></ion-icon>Elegir foto</ion-button>
          </div>
        </form>
        <button id="botonRegistro" type="submit">Editar</button>
      </div>
    </form>
  </div>
</ion-content>
