<ion-content >
  <div id="container">
    <div class="header">
      <ion-back-button routerLink=".."></ion-back-button>
      <ion-title>Crear Publicación</ion-title>
    </div>
    <div id="logo">
      <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <form (ngSubmit)="addPost()" ngNativeValidate>
      <div class="formulario">
        <div class="campo">
          <label>TÍTULO</label>
          <input type="text" id="title" name="title" [(ngModel)]="title" required>
        </div>
        <div class="campo">
          <label>RESEÑA</label>
          <textarea class="textarea" name="text" rows="10" cols="30" [(ngModel)]="text" required></textarea>
        </div>
        <div class="campo">
          <label>VALORACIÓN</label>
          <select id="positive" name="positive" [(ngModel)]="positive" required placeholder="ola">
            <option [ngValue]="true">Positiva</option>
            <option [ngValue]="false">Negativa</option>
          </select>
        </div>
        <form>
          <div class="campo">
            <ion-button id="btnEligeFoto" (click)="choosePhoto()" color="warning" fill="solid" shape="round" expand="full" class="ion-float-right" type="submit"><ion-icon name="images-outline"></ion-icon>Elegir foto</ion-button>
          </div>
        </form>
        <button id="botonRegistro" type="submit">PUBLICAR</button>
      </div>
    </form>
  </div>
</ion-content>