<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <div id="logo">
      <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
      <div class="formulario">
        <div class="campo">
          <label>¿QUE TIPO DE CUENTA DESEA REGISTRAR?</label>
        </div>
        <button id="botonLogin" type="button" routerLink="/register-client">CLIENTE</button>
        <button id="botonRegistro" type="button" routerLink="/register-rest">RESTAURANTE</button>
      </div>
  </div>
</ion-content>