<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-img id="headerLogo" src="/assets/images/logoHeader.png" size="xs"></ion-img>
      <ion-label id="headerTitle" align-self-end>GeoLocal</ion-label>  
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-row *ngIf="userLogged">
    <ion-input (click)="createPost()" placeholder="Publica algo"></ion-input>
    <a href="http://localhost:8100/publicidad">
      <ion-button color="success" fill="clear" expand="full" type="submit" class="ion-float-right"><ion-icon name="images-outline"></ion-icon></ion-button>
    </a>  
  </ion-row>
  
  <ion-col>
    
        <ion-card *ngFor="let post of posts" (click)="seePost(post.id)">
          <ion-card-header>
            <ion-card-title>{{ post.title }}</ion-card-title>
            <ion-card-subtitle>{{ post.text }}  <ng-container *ngIf="post.positive==False"><ion-icon name="thumbs-up-outline"></ion-icon></ng-container> </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-col>
                <ion-slides pager="true" loop="true">
                  <ng-container *ngFor="let item of post.images;">
                    <ion-slide >
                      <img src="{{item}}">
                    </ion-slide>
                  </ng-container>
                </ion-slides>
            </ion-col>
            <ion-button class="ion-margin-bottom ion-float-right"><ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>Comentarios</ion-button>
          </ion-card-content>
        </ion-card>
        
</ion-col>

</ion-content>

