<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GeoLocal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-col>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title>Nombre restaurante</ion-card-title>
            <ion-card-subtitle>Subtitulo <ion-icon name="thumbs-up-outline"></ion-icon></ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-col>
              <ion-slides>
                <ion-slide>
              <img src="https://media.istockphoto.com/photos/ring-tailed-lemur-picture-id480108393?s=612x612">
            </ion-slide>
          </ion-slides>
            </ion-col>
            
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Título</ion-card-title>
            <ion-card-subtitle>Subtitulo <ion-icon name="thumbs-up-outline"></ion-icon></ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-col>
              <ion-slides>
                <ion-slide>
              <img src="https://media.istockphoto.com/photos/ring-tailed-lemur-picture-id480108393?s=612x612">
            </ion-slide>
          </ion-slides>
            </ion-col>
            
          </ion-card-content>
        </ion-card>   
        
</ion-col>

</ion-content>
