<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <div id="logo">
      <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <form [formGroup]="credentials" (ngSubmit)="register()">
    <div class="formulario">
      <div class="campo">
        <label>CORREO</label>
        <input type="text" id="correo" formControlName="email">
      </div>
      <div class="campo">
        <label>NOMBRE(S)</label>
        <input type="text" id="nombre" name="name">
      </div>
      <div class="campo">
        <label>NOMBRE LOCAL</label>
        <input type="text" id="aPaterno" name="aPaterno">
      </div>
      <div class="campo">
        <label>UBICACION</label>
        <button id="botonUbicacion">SELECCIONAR</button>
      </div>
      <div class="campo">
        <label>CONTRASEÑA</label>
        <input type="password" class="password" formControlName="password">
      </div>
      <div class="campo">
        <label>REPITE CONTRASEÑA</label>
        <input type="password" class="password" name="Rpassword">
      </div>
      <button id="botonRegistro" type="submit">REGISTRARSE</button>
    </div>
  </form>
  </div>
</ion-content>