<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <div id="logo">
      <ion-img src="/assets/images/Logo.png"></ion-img>
    </div>
    <form ngNativeValidate> 
    <div class="formulario" >
      <div class="campo">
        <label>NOMBRE(S)</label>
        <input type="text" id="nombre" name="name" [(ngModel)]="name" required>
      </div>
      <div class="campo">
        <label>NOMBRE LOCAL</label>
        <input type="text" id="resname" name="resname" [(ngModel)]="resname"required>
      </div>
      <div class="campo">
        <label>UBICACION</label>
        <button id="botonUbicacion" (click)="ubicacion()">SELECCIONAR</button>
      </div>
      <button id="botonRegistro" type="submit" (click)="addres()" >REGISTRARSE</button>
    </div>
  </form>
  </div>
</ion-content>